<!DOCTYPE html>
<html>
<head>
    <title><%= siteTitle %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div id="layout">
    <%- body %>
    <div id="layout-footer"></div>
</div>
<div id="footer-wrap">
    <div id="footer">
        <div class="footer-content"><a id="github-link" href="https://github.com/akanainc/automation" target="_blank">Code</a> by</div>
        <a href="http://www.akana.com/" id="akanaCode" target="_blank">Akana, Inc.</a>
        <div class="footer-content">&#169;</div>
    </div>
</div>
<script src="/javascripts/ga.js"></script>
</body>
</html>